@charset "utf-8"; /*Max,Noah,Amy*/


html,body{
	margin: 0;
	padding: 0;	
}

p{
	font-family: 'Open Sans', sans-serif;
}

body{
	margin-left: 50px;	
}

h1{
	text-align: center;
	font-family: 'Montserrat';
}

footer{
	font-weight: bold;
}

#logo {
	padding-top: 50px;
	padding-bottom: 25px;
}

#small_logo {
	float: right;
	padding-right: 20px;
}

